// _button.scss

.button {
  background-color: #917aaf;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #68577d;
  }

  &:focus {
    outline: none;

    &:active {
      transform: translateY(1px);
    }
  }
}
